<h1>Listing tickets</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Subject</th>
      <th>Issue</th>
      <th>Response</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tickets.each do |ticket| %>
      <tr>
        <td><%= ticket.email %></td>
        <td><%= ticket.subject %></td>
        <td><%= ticket.issue %></td>
        <td><%= ticket.response %></td>
        <td><%= link_to 'Show', ticket, :class => 'btn btn-sm btn-primary' %></td>
        <td><%= link_to 'Edit', edit_ticket_path(ticket), :class => 'btn btn-sm btn-warning' %></td>
        <td><%= link_to 'Destroy', ticket, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-sm btn-danger'%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ticket', new_ticket_path %>
